body {
    font-family: 'Gloria Hallelujah', cursive;
    margin: 0px;
    background-color: orange;
}
h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
}


text {
    font-family: 'Gloria Hallelujah', cursive;
}

.nav {
    background-color: #F9EAE1;
    margin: 0;
    line-height: 250%;
}

.nav:hover {
    background-color: #D7C9AA;
}

.nav a {
    display: block;
}

.flex-container-footer {

    display: flex;
    justify-content: space-evenly;
    align-content: baseline;
    background-color: #F9EAE1;
    width: 100%;
    margin: 0;
    padding: 0;
}