body {
    font-family: 'Gloria Hallelujah', cursive;
    margin: 0px;
    background-color: #F9EAE1;
}
h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
}


text {
    font-family: 'Gloria Hallelujah', cursive;
}

.nav {
    background-color: #F9EAE1;
    margin: 0;
    text-align: center;
    flex-grow: 1;
    height:100%
}

.nav:hover {
    background-color: #D7C9AA;
}

.nav a {
    display: block;
}

.flex-container-footer {

    display: flex;
    justify-content: space-evenly;
    align-content: baseline;
    background-color: #F9EAE1;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: flex-end;
}

a {
    color: black;
    text-decoration: none;
}


button {
    margin: 5px;
    color: #442222;
    background: #CC8B86;
    min-width: 100px;
    min-height: 50px;

    border: 0;
    min-font-size: 30px;

}

button:hover {
    background: #DC9B96;
}

button:disabled {
    background: #888888;
}