h1{
    font-size: xx-large;
}
.flex-container-table {

    display: flex;
    justify-content: center;
    bottom: 0;
    background: #442222;
}
button{
    margin: 5px;
    color: #442222;
    background: #CC8B86;
    margin: 0px;
    min-width: 100px;
    min-height: 50px;
    margin: 5px;

    border: 0px;
    min-font-size: 30px;

}

.button {
    margin:0px;
    font-size: 100px;
    justify-content: space-evenly;
    padding: 100px 50px;
    position: relative;
    height: 540px;

}

.button:hover {
    background: #DC9B96;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
    font-size: x-large;
    border-radius: 30px;
    border-radius: 25px;
    padding: 20px;
}

td, th {
    height: 30px;
    min-width: 200px
}

th {
    border: 0px solid #422;
    background: #A20021;
    font-weight: bold;
    color: #EEEEEE;
}

td {
    border: 0px solid #A88;
    background: #FFFFFF;
    height: 100px;
}

tr:nth-child(odd) td {
    background: #F9EAE1
}

tr:nth-child(odd) td:hover {
    background: #E9DAD1;
}

td:hover {
    background: #EEDEDE;
}


