h1 {
    font-size: xx-large;
    text-align: center
}

.flex-container-table {

    display: flex;
    justify-content: center;
    bottom: 0;
    background: #442222;
}

button {
    margin: 5px;
    color: #442222;
    background: #CC8B86;
    min-width: 100px;
    min-height: 50px;

    border: 0;
    min-font-size: 30px;

}

.button {
    margin: 0;
    display: block;
    height: 100%;
    width: 100%;
    font-size: 100px;
    justify-content: space-evenly;

    position: relative;
    box-sizing: border-box;

}

button:hover {
    background: #DC9B96;
}

button:disabled {
	background: #666666;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: x-large;
    border-radius: 30px;
    padding: 20px;
}

td, th {
    height: 30px;
    min-width: 200px
}

th {
    border: 0 solid #422;
    background: #A20021;
    font-weight: bold;
    color: #EEEEEE;
}

td {
    border: 0 solid #A88;
    background: #FFFFFF;
    height: 90px;
}

tr:nth-child(odd) td {
    background: #F9EAE1
}

tr:nth-child(odd) td:hover {
    background: #E9DAD1;
}

td:hover {
    background: #EEDEDE;
}

.loader {
	margin: auto;
	border: 12px solid #f3f3f3; /* Light grey */
	border-top: 12px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 2s linear infinite;
	margin-bottom: 30px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

