.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


body {
    color: black;
    text-align:center;
    background-color: #f9eae1;
    font-family: "Comic Sans MS", "Comic Sans", cursive;

}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px ;
}

header {
    background-color: #f9eae1;
}

a {
    color: black;
    text-decoration: none;
}
button {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin-top: 2%;
    font-weight: bold;
    padding: 0 5%;
    background: #CC8B86;
    border: none;
    color: black;
    font-size: 150%;
    line-height: 60px;
}