.allContainer {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    height: 100%;
}

.flex-container-footer {

    display: flex;
    justify-content: space-evenly;
    align-content: baseline;
    background-color: #F9EAE1;
    width: 100%;
    margin: 0;
    padding: 0;
}

.flex-container-middle {

    display: flex;
    background-color: white;
    justify-content: center;
    flex-direction: column;
    padding: 2%;
    min-height: 100%;
}


.nav {
    background-color: #F9EAE1;
    margin: 0;
    line-height: 250%;
}

.nav:hover {
    background-color: #D7C9AA;
}

.nav a {
    display: block;
}

.header {
    padding: 3%;
    text-align: center;
    background: #A20021;
    color: #F9EAE1;
    font-size: 20px;
    margin: 0;
}

.blockText {
    padding-top: 15px;
    padding-bottom: 15px;
    horiz-align: center;
    text-align: justify;
    background: #FFFFFF;
}

body {
    color: black;
    text-align: center;
    margin: 0;
    /*font-family: 'Raleway', sans-serif;*/
}

header {
    background-color: #f9eae1;
}

a {
    color: black;
    text-decoration: none;
}

.theBigButton {
    margin-top: 2%;
    font-weight: bold;
    width: 20%;
    background: #CC8B86;
    border: none;
    color: black;
    font-size: 150%;
    line-height: 250%;
}

button:hover {
    background: #DC9B96;
}

.banner {
    background: #A20021;
    height: 50px;
}