body {
    color: #A20021 ;
    text-align:center;
    background-color: #f9eae1
}

text:hover {
    color:hotpink;
}

button {
    margin-top: 20px;
    line-height: 60px;
    font-weight: bold;
    padding: 0 40px;
    background: #CC8B86;
    border: none;
}

button:hover {
    background: lightsalmon;
}