/*desktop*/
@media screen and (min-width: 700px) {

    .flex-container-footer {
        flex-direction: row;
        align-content: flex-end;
        flex-grow: 1;
        margin-bottom: fill;
        position: fixed;
        bottom: 0;
    }

    .nav {
        font-size: 18px;
        width: 25%;
        height: 5vh;
    }

    .blockText {

        padding-right: 35%;
        padding-left: 35%;
    }

    .flex-container-table {
        width: 75%;
        padding-left: 12.5%;
        padding-right: 12.5%;

    }

    .button {
        font-size: 550%;
    }


    .theBigButton {
        width: 25%;
        height: 120%;
    }

    .allContainer {
        height: 100vh;
    }

    table {

        width: 100%
    }


}

/*mobile*/
@media screen and (max-width: 700px) {

    .header {
        font-size: large;
    }


    .flex-container-middle {
        padding: 10%;
        flex-wrap: wrap;
        position: static;

    }

    .flex-container-footer {

        flex-direction: column;
        align-content: center;
        position: static;
        line-height: 250%;

    }

    .nav {
        font-size: 100%;
        width: 100%;
        right: 0;
        left: 0;
        border-top: 1px solid #DAB8B8;
        line-height: 250%;
    }

    .blockText {
        padding-left: 15%;
        padding-right: 15%;
    }

    .flex-container-table {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        max-font-size: 12px;
    }

    .theBigButton {
        width: 100%;
        height: 9vh;
        font-size: large;
    }

    .button {
        font-size: 100%;
        width: 15vw;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }

    table {
        width: 70vw;
    }

}