/*desktop*/
@media screen and (min-width: 500px) {

    .flex-container-footer {
        flex-direction: row;
        align-content: flex-end;
        flex-grow: 1;
        margin-bottom: fill;
    }

    .nav {
        font-size: 18px;
        width: 25%;
    }

    .blockText {

        padding-right: 35%;
        padding-left: 35%;
    }

    .flex-container-middle {
    }

}

/*mobile*/
@media screen and (max-width: 500px) {


    .flex-container-middle {
        padding: 10%;
        flex-wrap: wrap;
        position: static;

    }

    .flex-container-footer {

        flex-direction: column;
        align-content: center;
        position: static;

    }

    .nav {
        font-size: 100%;
        width: 100%;
        right: 0;
        left: 0;
    }

    .blockText {

        padding-left: 15%;
        padding-right: 15%;
    }


}